
.idea/discord.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
proxy/target/proxy-1.0-SNAPSHOT.jar
proxy/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
proxy/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
proxy/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
proxy/target/maven-archiver/pom.properties
proxy/target/classes/dev/remine/guilder/proxy/Main.class
proto/target/proto-1.0-SNAPSHOT.jar
proto/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
proto/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
proto/target/maven-archiver/pom.properties
plugins/hub/target/original-hub-1.0-SNAPSHOT.jar
plugins/hub/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
plugins/hub/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
plugins/hub/target/maven-archiver/pom.properties
plugins/hub/target/hub-1.0-SNAPSHOT.jar
plugins/hub/target/classes/dev/remine/guilder/plugins/hub/GuilderHub.class
games/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
games/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
games/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
games/target/maven-archiver/pom.properties
games/target/games-1.0-SNAPSHOT.jar
games/target/classes/dev/remine/guilder/gamescore/Main.class
core/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
core/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
core/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
core/target/maven-archiver/pom.properties
core/target/core-1.0-SNAPSHOT.jar
core/target/classes/dev/remine/guilder/core/Main.class
commons/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
commons/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
commons/target/maven-archiver/pom.properties
commons/target/commons-1.0-SNAPSHOT.jar
api/worlds/target/worlds-1.0-SNAPSHOT.jar
api/worlds/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
api/worlds/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
api/worlds/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
api/worlds/target/maven-archiver/pom.properties
api/worlds/target/classes/dev/remine/guilder/api/worlds/Main.class
api/servers/target/servers-1.0-SNAPSHOT.jar
api/servers/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
api/servers/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
api/servers/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
api/servers/target/maven-archiver/pom.properties
api/servers/target/classes/dev/remine/guilder/api/servers/Main.class
api/players/target/players-1.0-SNAPSHOT.jar
api/players/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
api/players/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
api/players/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
api/players/target/maven-archiver/pom.properties
api/players/target/classes/dev/remine/guilder/api/players/Main.class
api/loadbalancer/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
api/loadbalancer/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
api/loadbalancer/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
api/loadbalancer/target/maven-archiver/pom.properties
api/loadbalancer/target/loadbalancer-1.0-SNAPSHOT.jar
api/loadbalancer/target/classes/dev/remine/guilder/api/loadbalancer/Main.class
